/.idea/*
/PythonJobs/.scrapy
/PythonJobs/Items.db
/PythonJobs-Visualization/Items.db
/R-visualization/.Rhistory
/R-visualization/rsconnect/documents/RAnalysis.rmd/rpubs.com/rpubs/Publish Document.dcf
